<div class="user-card">
    <div class="container">
        <img src="{{user.image}}" class="user-image" alt="Imagem do Usuário">
        <h1>{{user.name}}</h1>
        <button (click)="logout()">Sair</button>
    </div>
</div>
<br>

<hr>

<section class="posts">
    <div class="container">
        <h1>Suas Publicações</h1>
        <button id="newPostButton" [routerLink]="['/write-post']">Nova publicação</button>
        <div class="noResult" *ngIf="!posts">
            <h1>Sem publicações</h1>
        </div>
        <div class="flex-posts">
            <div class="space-posts" *ngFor="let post of posts">
                <div class="box-posts" [routerLink]="['/post/', post.id]">
                    <img src="{{post.imageUrl}}">
                    <div class="box-posts-wraper">
                        <h2>{{post.title}}</h2>
                    </div> <!-- box-posts-wraper -->
                </div> <!-- box-posts -->
            </div> <!-- space-posts -->
        </div><!-- flex-posts -->
    </div><!-- container -->
</section><!-- posts -->