<section class="posts">
    <div class="container">
        <div class="flex-posts">
            <div class="space-posts">
                <div class="box-posts">
                    <img src="./assets\Batman.png">
                    <div class="box-posts-wraper">
                        <h2>Titulo notícia</h2>
                        <a href="#">Ler matéria</a>
                    </div> <!-- box-posts-wraper -->
                </div> <!-- box-posts -->
            </div> <!-- space-posts -->
        </div><!-- flex-posts -->
    </div><!-- container -->
</section><!-- posts -->